
# Репозипорий в который пишем
GH_REPO="https://github.com/thalidzhokov/greenhub-repo.git"

# Токен для доступа к репозиторию
# Нужен Personal Access Token (PAT) — токен создаётся в настройках вашего аккаунта GitHub. 
# Есть два варианта:
# 1. Fine-grained PAT (рекомендуется): github.com/settings/personal-access-tokens → Generate new token. 
#   Настройки:
#   - Repository access — Only select repositories, выбрать репозиторий для коммитов (напр., greenhub-repo);
#   - Permissions → Repository permissions → Contents: Read and write - это единственное нужное разрешение.
# 2. Classic PAT: github.com/settings/tokens → Generate new token (classic) → scope repo. Минус - даёт доступ ко всем вашим репозиториям сразу.
GH_TOKEN=""

# Языки программирования
# https://docs.github.com/en/get-started/learning-about-github/github-language-support
GH_LANGUAGES="c, c++, c#, go, java, javascript, kotlin, php, python,ruby, rust, scala,swift typescript"

# Лимиты коммитов
GH_MIN_DAILY_COMMITS=1
GH_MAX_DAILY_COMMITS=10

# Дата начала по ISO 8601
# https://en.wikipedia.org/wiki/ISO_8601
GH_START_DATE="2013-01-01"
GH_END_DATE="0001-02-03T04:05:06+00:00"

# Текст
# Верхний регистр 7 дней из 7 (вс-пн-вт-ср-чт-пт-сб), размер 7х3
# Нижний регистр 5 дней из 7 (пн-вт-ср-чт-пт), размер 5х3
# Между символами 1 неделя, пробел 2 недели
# 13 символов на год
GH_TEXT="Nothing Safe"
